.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../photo_2026-01-09_18-58-26.jpg);
   
}

.box{
   background-color: gray;
    width: 380px;
    padding: 30px;
    border-radius: 16px;
}

h2{
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
}


.input-box input{
    width: 100%;
    padding: 12px 15px;
    border-radius: 30px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color:rgba(255,255,255,0.15);
    color: #fff;
}

.input-box input::placeholder{
   color: aqua;
   text-transform: capitalize;
}

.Remember{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}
.Remember p{
    color: #fff;
}

.Remember a{
    color: #fff;
    text-decoration: none;
}

.Remember a:hover{
    color: brown;
}

.btn{
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    transition: .5s;
}
.btn:hover{
    color: brown;
    background-color:grey;
    border: 1px solid white;
    
}
.regis{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
}
.regis a{
    color: #fff;
    text-decoration: none;
}

.regis a:hover{
    color: brown;
}

.regis p{
    margin-right: 20px;
    color: #fff;
}

.headline{
    width: 200px;
    color: #fff;
}

.main{
    display: flex;
    justify-content: space-evenly;
}

.title{
   color: aqua;


}


